#root{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #29102e;
    color: #dda8b5;

}
.pad{
    grid-row: span 4;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    
}
#drum-machine{
    padding: 20px;
    border: 3px solid #361e40;
    background: #4d2a4f;
    display: flex;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px 50px 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.display-container{
    grid-row: 3;
    grid-column: 2;
    width: 120px;
    height: 40px;
    background: #dda8b5;
    color: #361e40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}
h3{
   grid-row: 2;
   grid-column: 2;  
   margin: 5px;
   align-self: flex-end;
  
}
.drum-pad{
    background-color: #b87d95;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #361e40
}
.drum-pad:active , .keypress{
    background-color: #dda8b5;  
    transform: scale(0.95)  
   
}